/* Add css for default unchanging styling */

/*
.Eightball {
  max-height: 300px;
  height: 300px;
  max-width: 300px;
  width: 300px;
} */

.Eightball-text {
  font-size: "20px";
  color: "white";
}

